@import '../Global.scss';

.stock-page {
    display: flex;
    flex-direction: column;
    background-color: rgb(70, 61, 10, 0);
    height: auto;
}
.stock-container {
    display: flex;
    align-items: start;
    padding: 1rem;
    height: auto;
    
}


.stock-watchlists {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    background-color: rgb(70, 61, 10, 0);

    ;
    
}

.stock-spacer{
    flex-grow: 1;
    
}

.stock-symbols {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    background-color: rgb(110, 39, 95, 0);

    height: 500px;
    
    
}

