@use "sass:color";

$base-font-size: 16px;

$base-color: rgb(245, 116, 27);
$base-color-light-increment: 80;
$base-color-light: rgb(
    calc(color.channel($base-color, "red", $space: rgb) - $base-color-light-increment),
    calc(color.channel($base-color, "green", $space: rgb) - $base-color-light-increment),
    calc(color.channel($base-color, "blue", $space: rgb) - $base-color-light-increment)
);

body {
    background: $base-color;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}