@use '../Global.scss' as *;

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $base-color;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    z-index: 100;
}

.navbar-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 60px;
}


.navbar-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.spacer {
    flex: 1 1 auto;
}

.navbar-list-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0 0 0 auto;
}

.navbar-item {
    display: flex;
    align-items: center;
    transition: transform 0.2s;
    
    &:hover {
        transform: translateY(-2px) scale(1.05);
    }
}

.navbar-link {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: $base-font-size;
    letter-spacing: 0.02em;
    // padding: 0.5rem 1rem;
    transition: background 0.2s, color 0.2s;

    &:hover,
    &:focus {
        color: $base-color-light;
        outline: none;
        border-bottom: 2px solid $base-color-light;
    }
}

.navbar-link-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}